# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/

# Virtual Environment
.venv

# Environments & Secrets
.env
.env.local
.env.*.local
*.pem
*.key

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Docker / K8s / Local state
*.log
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# OS Specific
.DS_Store
Thumbs.db
